.movie-details {
    background-color: #F7F7E7;
    border: 1px solid #9F9F57;
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
    padding: 20px;
}

.movie-details img {
    height: 500px;
}

.movie-details .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
}

.details h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

.details .tagline {
    margin: 10px 0;
}

.details p {
     margin: 0;
}
