.form-wrapper {
    background-color: #ecf7e7;
    border: 1px solid #124217;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    margin: 10px;
    padding: 20px;
}

.form-wrapper form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-wrapper input, textarea {
    padding: 5px;
    text-align: center;
    width: 50%;
}

.form-errors {
    background-color: #ffcbcb;
    border: 1px solid #583333;
    padding: 10px;
    text-align: center;
}
